<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title> {{ title }} </title>
        {% else %}
        <title> TaskHero</title>
        {% endif %}
    </head>
    <body>
        <div><a href="{{ url_for('index') }}">Home</a></div>
        {% if current_user.is_anonymous %}
        <div><a href="{{ url_for('login') }}">Log In</a></div>
        {% else %}
        <div><a href="{{ url_for('logout') }}">Log out</a></div>
        {% endif %}
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>